<launch>
  <param name="robot_description"
    textfile="$(find robot_arm)/urdf/model2.urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model RobotArm_NoCollision"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_arm)/config/ctrl.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen" ns="/RobotArm_NoCollision"
        args="kata_joint_position_controller
                    hiji_joint_position_controller
                    tekubi_joint_position_controller"/>


</launch>
